body {
  font-family: "Montserrat", sans-serif;
}

.mc {
  color: #153a5b;
}

.mbc {
  background-color: #153a5b !important;
}

.sc {
  color: rgb(90 94 96);
}

.sbc {
  background-color: rgb(90 94 96);
}

textarea {
  resize: none;
}

form input,
textarea {
  border-color: rgb(90 94 96);
  outline: none;
  min-width: 300px;
  width: 100%;
}

button.mbc {
  color: white !important;
  background-color: #153a5b !important;
}

#checkout-btn:disabled {
  border-color: #d3d3d3;
  color: #d3d3d3;
}

.pop-m {
  border: #2567a1 solid 1px;
}
